
@media screen and (max-width:768px){

    .season-1 .card{
        width: 14rem;
    }

    .section-4 .col-md-7 img {
        width: 350px;
    }
}

@media screen and (max-width:420px){
    .site-content .site-title{
        font-size: 30px;
        padding-left: 15%;
    }

    .site-content .site-btn2{
        display: none;
    }

    .site-content .site-btn1{
        margin-left: 15%;
    }
    
    .season-1 .heading-1 , .heading-2 {
        font-size: 25px;
    }
    .season-1 .col-md-4{
        padding:5% ;
        margin-left: 8%;

    }
    .season-1 .card{
        width: 15rem;
    }

    .section-4 .col-md-5{
        padding: 0% 15%;

    }

    footer input[type="button"]{
        margin-top: 5%;

        
    }
}

